/* ------------------------------------DIV HOME----------*/

div#home{
    min-height: 95vh;
    max-height: 1000vh;
    display: flex;
    margin-bottom: 100px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

#boasvindas{
    min-width: 100px;
    max-width: 1200px;
    min-height: 500px;
    margin: auto;
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

div.concent{
    width: 1200px;
    padding-left: 80px;
    padding-right: 80px;
}

h1#dia{
    font-size: min(45pt, 5vw);
    font-family: 'DynaPuff', cursive; 
}

h2.esc{
    font-size: min(20pt, 4vw);
    font-family: 'DynaPuff', cursive;
    margin-top: 10px;
}


.Digitando{
    font-size: min(15pt, 3vw);
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-right: 2px solid black ;
    animation: corabertura .7s infinite normal ,digitando 5s steps(90) normal;
    white-space: nowrap;
    overflow: hidden
}

@keyframes corabertura{
    from{
        border-right: 2px solid black ;
    }
    to{
        border-right: 2px solid rgba(0, 0, 0, 0.219) ;
    }
}

@keyframes digitando{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes cursor{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

h1#dia {
    animation: sombra;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    animation-direction: alternate  ;
    animation-iteration-count: infinite;
}

@keyframes sombra{
    from{
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.493);
    }
    to{
        text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.493);
    }
}

div#ola1{
    display: inline-block;
    margin-right: auto;
    text-align: center;
    font-family: 'Finger Paint', cursive;

}

div#ola2{   
    display: inline-block;
    justify-content: left;
    align-items: center;
    text-align: center;
}

#divimg{
    width: max(80px, 20vw);
    height: max(120px, 20vw);
    animation-name: fperfil, fperfiltam, fperfilsumiu;
    animation-duration: 6s, 4s, 6s;
    animation-delay: 0.1s, 3s, 0;
    animation-timing-function: calc(0.1, 25, 36, 0.28), calc(0.1, 25, 36, 0.28), ;
    animation-iteration-count: infinite, infinite, 1;
    animation-direction: alternate, alternate, alternate;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.4));
}

@keyframes fperfilsumiu{
    from{
        opacity: 0;
        scale: 0;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

/*@keyframes fperfiltam{
    0%{
        width: 180px;
        height: 200px;
    }
    50%{
        width: 185px;
        height: 206px;
    }
}*/

@keyframes fperfil{
    0%{
        transform: translate(5% , 5%);
    }
    20%{
        transform: translate(-5%, 5%);
    }
    50%{
        transform: translate(5%, -5%);
    }
    70%{
        transform: translate(-5%, -5%);
    }
    80%{
        transform: translate(5 , 5);
    }
}

/* linha*/
#caixalinha{
    background-color: gre;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    padding: 0px 10% 0px 10%;
}

#linha{
    width: 2%;
    height: 10px;
    background-color: #8C7C6D;
    border-radius: 15px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
    transform: translate(0, 0);
    animation-name: movlinha;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes movlinha{
    0%{
        transform: translate(0, 0);
        width: 2%;
        box-shadow: -6px 2px 3px rgba(0, 0, 0, 0.4);
    }
    25%{
        transform: translate(39vw, 0);
        width: 8%;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
    }
    50%{
        transform: translate(77vw, 0);
        width: 2%;
        box-shadow: 6px 2px 3px rgba(0, 0, 0, 0.4);
    }
    75%{
        transform: translate(39vw, 0);
        width: 8%;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
    }
    100%{
        transform: translate(0vw, 0);
        width: 2%;
        box-shadow: -6px 2px 3px rgba(0, 0, 0, 0.4);
    }
}

#linha:hover{
    background-color: #734338;
    transition-duration: .3s;
}