div#projetos{
    width: 100%;
    min-height: 90vh;
    max-height: 10000vh;
    display: flex;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
    box-sizing: border-box;
}

#trab{
    min-width: 350px;
    max-width: 970px;
    background-color: #8C7C6D;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.459);
    margin: auto;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    #trab{
        max-width: 100%;
    }
  }


div#protfolioweb{
    box-sizing: border-box;
}

@media (max-width: 768px) {
    #protfolioweb{
        max-width: 100%;
    }
  }

h1#tproj{
    text-align: center;
    padding: 15px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.178);
    font-family: 'Nova Oval', cursive;
    color: var(--cor5);
    font-size: 50px;
}

.h2proj{
    text-align: center;
    font-family: var(--fonttitulo);
    color: var(--cor1);
    font-size: 30px;
    padding-bottom: 12px;
}

.conjunto{
    margin: auto;
    width: 85%;
    height: 230px;
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    box-sizing: border-box;
}

.conjunto:hover{
    overflow-x: scroll;
}

.projsdw{
    background-image: url('../imagens/embreve.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 300px;
    margin: 0px 9px 0px 0px;
    height: 200px;  
    border-radius: 8px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.534);
    transition: .3s transform , 1s ease-in-out;
    box-sizing: border-box;
    position: relative;
}


.projsdw img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .projsdw{
        min-width: 260px;
    }
  }

.projsdw:hover{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.541);
    transform: translate(0, 3px);
}


.diviframedevweb{
    width: 85%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.39);
    margin: 10px auto 50px auto;
    height: 100vh;
    border-radius: 0px 0px 10px 10px;
    box-sizing: border-box;
}

div#protfoliodesigner{
    box-sizing: border-box;
}



.diviframedesigner{
    width: 85%;
    margin: 10px auto 50px auto;
    min-height: 500px;
    max-height: 800vh;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.projsdg{
    display: inline-block;
    background-image: url('../imagens/embreve.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 200px;
    margin: 1%;
    height: 200px;  
    border-radius: 8px;
}

.projsdg img:hover{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.541);
    transform: translate(-3%, -3%) ;
    transition-timing-function: cubic-bezier(.15, .89, .85, .26);
    transform: scale(1.04);
}

.projsdg img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: 3s transform , 2s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
}

.iframelogos{
    width:343px;
    margin: 30px;
    float: left;
    height: 343px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.301);
    border-radius: 15px;
    background-color: transparent;
    transition: 2s transform , 1s ease-in-out;
    box-sizing: border-box;
}

.iframelogos:hover{
    transform: scale(1.01);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.541);
    border-radius: 0;
}

.if{
    width:343px;
    height: 343px;
    border-radius: 15px;
    background-color: transparent;
    transition: 2s transform , 1s ease-in-out;
    box-sizing: border-box;
    border-radius: 15px;
}

.if:hover{
    border-radius: 0;
    border-radius: 0px;
    transition: 2s;
}


/*
#iframe2{
    background-color: purple;
    width: 48%;
    height: 48%;
    margin-bottom: 2%;
    float: left;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.363);
}
#iframe3{
    background-color: purple;
    width: 48%;
    height: 48%;
    margin-right: 4%;
    margin-top: 2%;
    float: left;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.363);
}

#iframe4{
    background-color: purple;
    width: 48%;
    height: 48%;
    margin-top: 2%;
    float: left;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.363);
}*/


.iframeWWeb{
    width: 100%;
    height: 100vh;
    border-radius: 3px;
}

.LinkFrame{
    width: 100%;
    height: 100%;
}

.BtnPages{
    position: absolute;
    right: 8px;
    top: 8px;
    background-color: var(--cor4);
    border: none;
    padding: 4px;
    border-radius: 5px;
    opacity: .6;
    transition-duration: .6s;
    font-size: 13pt;
}

.BtnPages:hover{
    background-color: var(--cor3);
    opacity: 1;
    color: white;
}

.TitlePage{
    position: absolute;
    color: var(--cor4);
    background-color: rgba(255, 255, 255, 0.603);
    padding: 4px;
    border-radius: 7px;
    top: 10px;
    left: 6px;
    transition-duration: .3s;
}

.TitlePage:hover{
    position: absolute;
    color: var(--cor4);
    background-color: rgb(255, 255, 255);
    padding: 4px;
    border-radius: 7px;
}

.TitlePage,
.BtnPages{
    opacity: 0;
    color: black;
}

.projsdw:hover .TitlePage,
.projsdw:hover .BtnPages{
    opacity: 1;
}

.code{
    background-color: rgba(0, 0, 0, 0.253);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: -8px;
    border-radius: 0px 0px 7px 7px;
    opacity: 0;
    transition-duration: .4s;
    color: black;
}

.code:hover{
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--cor1);
}

.projsdw:hover .code{
    opacity: .8;
}

